.footer-container {
  background-color: #222222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}


.footer-today {
  margin-left: 50px;
}

.footer-text {
  margin-right: 50px;
}
