.about-container{
  padding: 20px;

}

.about-title {
  color: #fff;
  font-size: 30px;
  padding: 10px;
}

.about-cards-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-top: 30px;
}
