<div class="site-map-countainer">

  <div class="footer-logo">
    <h3>Logo</h3>
  </div>

  <div class="site-map-list-one">
    <ul>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
    </ul>
  </div>

  <div class="site-map-list-two">
    <ul>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
    </ul>
  </div>

  <div class="site-map-list-three">
    <ul>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
      <li>Lorem</li>
    </ul>
  </div>

</div>
